body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Intro', sans-serif;
  overflow-x: hidden;
  color: #fff;
}

/* Телефон */
#intro {
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#phone {
  width: 70%;
  max-width: 350px;
  opacity: 0;
  animation: appear 2s ease forwards;
}

@keyframes appear {
  0% { opacity: 0; transform: scale(1.35); }
  20% { opacity: 1; }
  100% { opacity: 1; transform: scale(1); }
}

/* Уменьшение телефона */
.shrink-up {
  animation: shrinkUp 0.7s ease forwards;
}

@keyframes shrinkUp {
  0% { transform: scale(1) translateY(0); }
  100% { 
    transform: scale(0.33) translateY(-100vh); 
  }
}

/* Контент появляется */
#content * {
  opacity: 0;
  transform: translateY(25px);
}

.show {
  animation: appearUp 0.7s ease forwards;
}

@keyframes appearUp {
  0% { opacity: 0; transform: translateY(25px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Меньшая рамка описания */
.glass-box {
  margin: 0 auto;
  max-width: 360px;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  color: rgba(255,255,255,0.45);

  background: rgba(255,255,255,0.05);
  border-radius: 14px;
  border: 2px solid rgba(255,255,255,0.12);
  box-shadow: 0 0 14px rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
}

/* Жёлтый текст */
.yellow {
  color: #ffd900;
  font-weight: 900;
}

/* ТАП-БЛОК */
#gift {
  margin-top: 150px;
  text-align: center;
}

#tapBtn {
  width: 75%;
  max-width: 420px;
  border-radius: 14px;
  transition: 0.15s ease;
}

#tapBtn:active {
  transform: scale(0.92);
}

#tapCounter {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 900;
  color: #ffd900;
}

/* Кнопки */
.buttons {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 28px;
}

.btn {
  background: rgba(255,217,0,0.1);
  border: 2px solid #ffd900;
  padding: 16px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #ffd900;
  text-decoration: none;
  text-align: center;
  transition: 0.25s ease;
}

.btn:active {
  transform: scale(0.93);
}

footer {
  text-align: center;
  color: #777;
  margin-top: 70px;
  padding-bottom: 120px;
  font-size: 1rem;
}
